# Python cache files
__pycache__
.app/__pycache__

# Vector store (since it can be regenerated)
/vectorstore

# Environment variables (if you add them later)
.env
app/.env

# Virtual environment
venv/
env/
.venv/

# IDE settings
.vscode/
